@use "./base.scss";
// @use "./themes";

.unresolved {
    color: #ff0000; /* Change to your preferred color */
    opacity: 0.6;   /* Make it look faded */
    text-decoration: underline dashed; /* Add a dashed underline */
}

@keyframes revealBlur {
  0% { filter: blur(20px); opacity: 0; pointer-events: none; }
  100% { filter: blur(0px); opacity: 1; pointer-events: auto; }
}

.timer-reveal {
  animation: revealBlur 15s ease-out 20s forwards;
  filter: blur(40px);
  opacity: 0;
  pointer-events: none;
}
