@use "./base.scss";
// @use "./themes";

.unresolved {
    color: #ff0000; /* Change to your preferred color */
    opacity: 0.6;   /* Make it look faded */
    text-decoration: underline dashed; /* Add a dashed underline */
}